extends layout

block content
  header
    h1= config.title
    nav#main-nav
      ul
        li#chap-nav 
          span Chapters
          ol
        li#extra-nav
          a(href='#examples') Examples

  main

  include templates.pug

  aside
    #dlist= ordList
    #clist= chapData
