doctype html
html
  head 
    title= config.title
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  body

    block content

    each val in config.assets
      - var url = val.url
      if (val.type == 'style')
        link(rel='stylesheet' type='text/css' href=url)
      else 
        script(src=url)
