template#chapter
  article
    h1
    blockquote
    nav
      ol

template#section
  section
    h2

template#part
  .part

template#extra
  article
    table
      thead
      tbody

template#example-row
  tr
    - var elems = 1
    while elems <= 5
      - elems++
      td
